{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event list</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in events %}
            <tr>
                <td><a href="">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('get_event', {id: entity.id}) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('edit_event', {id: entity.id}) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('new_events') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
